@model IEnumerable<SearchFunctionality.Models.ModuleMaster>

<div>
    <div>Search: <input class="form-control" id="searchInput" type="text"></div>
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Module Code</th>
                <th>Application</th>
                <th>Module</th>
                <th>Sub Module</th>
            </tr>
        </thead>
        @if (Model == null)
        {
            <tbody id="moduleTable">
                <tr>
                    <td colspan="4">No Record Uploaded</td>
                </tr>
            </tbody>
        }
        else
        {
            <tbody id="moduleTable">
                @foreach (ModuleMaster item in Model)
                {
                    <tr>
                        <td>@item.ModuleCode</td>
                        <td>@item.Application</td>
                        <td>@item.Module</td>
                        <td>@item.SubModule</td>
                    </tr>
                }
            </tbody>
        }

    </table>

</div>





